---
layout: default
---

<div class="home">

  <h1 style="color:#555; text-shadow:1px 1px 1px #999">冰洁的技术博客</h1>

  <hr>
  <div class="posts">
    {% for post in site.posts %}
    {% include post-section.html %}
    {% endfor %}
  </div>

</div>


<script type="text/javascript">
	var parent = document.getElementsByClassName("post-description");
	for(var i = 0; i< parent.length; i++) {
		var one = parent[i];
		var child = document.getElementById("markdown-toc");
		if(one != null && child != null) {
			one.removeChild(child);
		}
	}
</script>
